#title{
    text-align: center;
    
}


.Tabs{
    text-align: top;
    color: black;
    border-style:solid;
    width:206px;
    padding: 20px;
    margin:1px;
    float:left;
    text-align: center;
}

.Tabs:hover{
    background-color:#bab8b7;
}

.flex-container{
    display:flex;
    flex-direction: row;
    
}

.flex-container >div{
    padding: 16px;
    width:80px;
    border: solid;
    margin-top:100px;
    margin-right:30px;
    margin-bottom: 30px;
    background-color:#d3d3d3;
}

table{
    width:100%;
    border-collapse: collapse;
    overflow-x:auto;
}

table, th, td{
    border:1px solid black;
}

th{
    background-color:#4CAF50;
    color:white;
    height:50px;
}

th, td{
    padding:10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}