.flex2{
    display:flex;
    flex-direction: fixed;
}

.flex2 >div{
    padding: 30px;
    width:400px;
    border: solid;
    margin-right:30px;
    
    background-color:#d3d3d3; 
    text-align: center; 
}

.flex2>div:hover{
    background-color:red;
}

.flex-container{
    display:flex;
    flex-direction: fixed;
}

.flex-container >div{
    padding: 16px;
    width:400px;
    text-align: center;
    border: none;
    margin-right:30px;
    color: white;
    
    background-color:#4CAF50;  
}



#title{
    text-align: center;
}


table{
    
    width:285px;
    border-collapse: collapse;
    overflow-x:auto;
    float:left;
    margin-right:31px;
    
}

table, th, td{
    border:1px solid black;
}

th{
    background-color:#4CAF50;
    color:white;
    height:50px;
}

th, td{
    padding:10px;
    width:100px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


