.flex2{
    display:flex;
    flex-direction: fixed;
    }

.flex2 >div{
        padding: 20px;
        width:400px;
        border: solid;
        text-align: center;
        margin-right:5px;
        background-color:#d3d3d3;
        
    }
.flex2>div:hover{
    background-color:red;
}

#title{
    text-align: center;
    
}

.flex-container{
    display:flex;
    flex-direction: row;
}

.flex-container >div{
    padding: 16px;
    width:80px;
    border: solid;
    margin-right:30px;
    margin-bottom: 30px;
    background-color:#d3d3d3;
}

.flex-container>div:hover{
    background-color:red;
}

table {
    margin-top:30px;
    width:100%;
    border-collapse: collapse;
    overflow-x: auto;
}

table, th, td{
    
    border:1px solid black;
}

th{
    background-color:#4CAF50;
    color:white;
    height:50px;
}

th, td{
    padding:10px;
    width:100px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#title2{
    text-align: center;
}

#Mile{
    margin-left:60px;
}

